<link rel="stylesheet" href="{{ url_for('static',filename='newmain.css') }}" type="text/css">
<link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"/>
      <script language="JavaScript" type="text/javascript" src="../static/js/jquery-3.2.1.min.js"></script>
      <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->

<html>
  <body>
    <br><br>
    <div class="container">
      <form action="/changestatus" method="POST">
        <div class="row">
         
          <div class="col-4">
            <input type="text"  name="detection_id" placeholder="Enter your Detection ID....">
          </div>
        
        <!--   <div class="col-25">
            <label for="lname">Room Id</label>
          </div> -->
          <div class="col-4">
            <input type="text"  name="exam_id" placeholder="Enter your Exam ID.....">
          </div>

          <div class="col-4">
          <input type="submit" value="Search">
        </div>

      </form>
    </div>
<br><br><br><br>
    <div class="row">
        <div class="col-6" style="border-right: 4px grey solid; ">
          <img src="{{url_for('Custom_Static',filename=frame.frameID )}}" style="border:5px solid black" width="500" height="600">
        </div>
        <div class="col-6" >
            <br>
            <label for="name">Student:-      {{detected.student_id}}</label>
            <br>
            <label for="exam">Exam:-         {{course_detected.course_name}} </label>
            <br>
            <label for="date-time">Date Time:-11 Dec 2017    {{exam_detected.time_slot}} </label>
            <br>
            
            <label id="status">Current State:- Detected</label>
            <br>
          
          <form id="form_id" class="form-inline">
            <div name ="updateValue" class="btn-group btn-group-lg btn-group-toggle" role="group" aria-label="...">
              <button  type="submit" id="b1" class="btn btn-primary" value="Accepted">Accepted</button>
              <button type="submit"  id="b2" class="btn btn-primary" value="Rejected">Rejected</button>
              <button  type="submit" id="b3" class="btn btn-primary" value="Pending"> Pending</button>
              
              <!-- <button name="Pending" type="submit" id="b3" onclick="myFunction(this.id)" class="btn btn-primary">Pending</button> -->
            </div>
          </form>
          <br><br>
          <div id="successAlert" class="alert alert-success" role="alert" style="display: none;"></div>

        </div>
    </div>
    <script>
      $(document).ready(function(){
       
        $('form').on('submit',function(event){
            $.ajax({
              data:{
              value : document.getElementsByClassName("not-active")[0].value
            },
            type : 'POST',
            url : '/updateDatabase'
          }).done(function(data){
              $('#successAlert').text("Value Updated: "+data.value).show();
              $('#status').text("Current State:- "+data.value).show();
          });
       event.preventDefault();

        });
        $('button').on('click',function(event){
                // alert(this.id)
                var i;
                for (i = 1; i <= 3; i++) {
                  if(this.id==('b'+i)){
                    var element = document.getElementById(this.id);
                    element.classList.remove("active");
                    element.classList.add("not-active");
                    
                    element.disabled = true;
                  }else{
                    var element = document.getElementById(('b'+i));
                    element.classList.add("active");
                    element.classList.remove("not-active");
                    element.disabled = false;
                  }
                }
                $('form').submit();
              });
      });
    </script>
  </body>

<style type="text/css">
  iframe {
        height: 400px;
        width: 500px;
      }

.show-on-hover:hover > ul.dropdown-menu {
    display: block;    
}
</style>

</html>
